body {
    background-color: $primary-blue;
    color: $primary-white;
    position: relative;
    left: 20px;
}

.knoppen {
    margin-left: 20px;
    margin-top: 5px;
    font-size: $font-size-buttons;
    &:hover {
        background-color: $primary-blue;
        color: $primary-white;
    }
}

#vorige, #volgende {
    position: absolute;
    top: 200px;
}

#vorige {
    left: 100px;
}

#volgende {
    right: 120px;
}

iframe {
    width: 70%;
}

#stemmen {
    width: 105px;
    position: relative;
    top: 50px;
    left: 46%;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    width: 800px;
    text-align: center;
    th {
        background-color: blueviolet;
    }
}

p {
    font-size: $font-size-p;
}