body {
    background-color: $primary-blue;
    color: $primary-white;
    position: relative;
    left: 20px;
}

button {
    margin-left: 20px;
    margin-top: 5px;
    font-size: $font-size-buttons;
    &:hover {
        background-color: $primary-blue;
        color: $primary-white;
    }
}

table, th, td {
    border: 1.5px solid $primary-black;
    border-collapse: collapse;
    width: 500px;
    td {
        text-align: center;
    }
}

p {
    font-size: $font-size-p;
}